body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica;
  background-color:#222222;
  color: #000000
}

.diff_screen_size{
  padding-top: 15%;
  color: #fff;

}

/* 
    Mobile View 
*/
.page_title{
  height: 72px;
  width: 100%;
  color:#fff;
  text-align: left !important;
  margin-bottom: 16px;
}
.page_title > h1{
  font-family: Helvetica;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  font-size: 28px;
  padding: 30px 83px 14px 24px;
  margin: 0;
}
.card_container{
  margin: 0px 24px 24px 24px;
  width: 366px;
  height: 428px;
  background-color:#FFFFFF;
  border-radius: 0.5rem;
}

/* image */
.big{
  width:100%;
  height:215px !important;
  border-radius: 8px 8px 0 0;
  background-color: #D8D8D8;
}

/* 
      Card Details 
*/
/* Title */
.make{
  padding-top: 1px !important;
  opacity: 0.75;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}
.model{
  opacity: 0.87;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
}

/* Location & Shop Name*/
.location_and_shop{
  padding: 1px 0 0 0 !important;
}
.location, .shop_name{
  font-size: 12px;
  letter-spacing: 0;
  font-weight: normal;
  font-family: Helvetica;
  line-height: 19.2px;
}
.shop_name{
  font-weight: bold;
}

/* Price */
.price{
  background-color: #000000;
  color: #fff;
  max-width: max-content;
  padding:10px 12px !important;
  border-radius: 4px;
  font-size:16px;
  height:42px;
}
.price > .price_amount{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

/* Other Renters */
.other_renters_container{
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  height: 49px;
  width: 366px;
}
.other_renters_label{
  padding: 15.34px 108px 16.66px 24px;
}
.other_renters_number{
  opacity: 0.75;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  padding-left: 12px;
  padding-right: 10px;
  margin-bottom: 0;
}
.other_renters_price{  
  opacity: 0.75;
  color: #A00000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 0;
}


/* Desktop Styling using Media queries */
@media only screen and (min-width: 1440px) {
  .page_title{
    height: 112px;
    width: 100%;
    margin-bottom: 0;
  }
  .page_title > h1{
    font-family: Helvetica;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    font-size: 40px;
    padding: 32px 954px 32px 48px;
    margin: 0;
  }
  .card_container{
    margin: 0px 48px 48px 32px;
    width: 744px;
    height: 379px;
    background-color:#FFFFFF;
    border-radius: 0.5rem;
  }

  /* Left Side Section */
  .big{
    border-radius: 8px 0 0 0;
  }

  /* Other Renters Section */
  .other_renters_container{
    border-left: 1px solid rgba(0, 0, 0, 0.16);
    height: 100%;
    width: 378px;
    padding:0 0 16px 0;

  }
  .other_renters_label{
    padding:0 !important;
    width: 100%;
  }
  .other_renters_number{
    padding: 16px 241px 15px 20px;
    margin-bottom: 0;
  }

  .bike_card_small{
    height: 90px !important;
    width: 338px !important; 
    padding: 0 20px 0 20px;
    border-radius: 0 0 8px 8px;
    background-color: #FFFFFF;
  }
  .bike_card_small :hover{
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 12px;
    background-color: rgba(0,0,0,0.04);
  }
  .small{
    height: 70px;
    width: 90px;
    border-radius: 8px;
    background-color: #D8D8D8;
    margin: 2px 15.89px 2px 3px !important;
  }
}