body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica;
  background-color:#222222;
  color: #000000
}

.diff_screen_size{
  padding-top: 15%;
  color: #fff;

}

/* 
    Mobile View 
*/
.page_title{
  height: 72px;
  width: 100%;
  color:#fff;
  text-align: left !important;
  margin-bottom: 16px;
}
.page_title > h1{
  font-family: Helvetica;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  font-size: 28px;
  padding: 30px 83px 14px 24px;
  margin: 0;
}
.card_container{
  margin: 0px 24px 24px 24px;
  width: 366px;
  height: 428px;
  background-color:#FFFFFF;
  border-radius: 0.5rem;
}

/* image */
.img_big{
  width:100%;
  height:215px !important;
  border-radius: 8px 8px 0 0;
  background-color: #D8D8D8;
}

/* 
      Card Details 
*/
/* Title */
.make{
  padding-top: 1px !important;
  opacity: 0.75;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}
.model{
  opacity: 0.87;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
}

/* Location & Shop Name*/
.fas, .far{
  font-size: 12px;
  width: 12px;
}
.location_and_shop{
  padding: 1px 0 0 0 !important;
}
.loc_row{
  width: 125px;
}
.location{
  height: 20px !important;
  width: 101px !important;
  opacity: 0.75;
  color: #000000;
  font-family: Helvetica;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-left: 12px !important;
}
.shop_row{
  width: 169px;
}
.shop_name{
  height: 20px !important;
  width: 145px !important;
  opacity: 0.75;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-left: 12px !important;
}
.sf_bold{
  font-weight: bold;
}

/* Price */
.price{
  background-color: #000000;
  color: #fff;
  max-width: max-content;
  padding:10px 12px !important;
  border-radius: 4px;
  font-size:16px;
  height:42px;
  margin-left: 45px !important;
}
.price > .price_amount{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

/* Other Renters */
.other_renters_container{
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  height: 49px;
  width: 366px;
}
.other_renters_label{
  padding: 15.34px 108px 16.66px 24px;
}
.other_renters_number{
  opacity: 0.75;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  padding-left: 12px;
  padding-right: 10px;
  margin-bottom: 0;
}
.other_renters_price{  
  opacity: 0.75;
  color: #A00000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: 0;
}


/* Desktop Styling using Media queries */
@media only screen and (min-width: 1440px) {
  .page_title{
    height: 112px;
    width: 100%;
    margin-bottom: 0;
  }
  .page_title > h1{
    font-family: Helvetica;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    font-size: 40px;
    padding: 32px 954px 32px 48px !important;
    margin: 0;
  }
  .all_cards_container{
    width: 824px !important;
    padding-left: 48px !important;
    padding-right: 48px !important;
  }
  .card_container{
    margin: 0px 0 48px 0;
    width: 744px;
    height: 379px;
    background-color:#FFFFFF;
    border-radius: 0.5rem;
  }

  /* Left Side Section */
  .img_big{
    border-radius: 8px 0 0 0;
  }

  /* Other Renters Section */
  .other_renters_container{
    border-left: 1px solid rgba(0, 0, 0, 0.16);
    height: 100%;
    width: 378px;
    padding:0 0 16px 0;

  }
  .other_renters_label{
    padding:0 !important;
    width: 100%;
  }
  .other_renters_number{
    padding: 16px 241px 15px 20px;
    margin-bottom: 0;
  }
  .renters_details_div{
    height: 298px !important;
    overflow: hidden;
  }

  .bike_card_small{
    height: 90px !important;
    width: 338px !important; 
    margin: 0 20px 0 20px;
    border-bottom: 1px solid rgba(0,0,0,0.16);
    /* border-collapse: separate;
    border-spacing: 7px 0; */
    padding: 10px 11px 10px 10px;
  }
  .hover_effect :hover{
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 12px;
    background-color: rgba(0,0,0,0.04);
  }
  .small_img_container{
    height: 70px;
    width: 90px;
    overflow: hidden;
    display:flex;
    justify-content:center;
    border-radius: 8px;
    background-color: #D8D8D8;
  }
  .small_img{
    height: 74px;
    width: 128.89px;
  }
  .details_row{
    align-items: flex-start;
  }
  .row1{
    padding:0 11px 9px 12px;
    margin:0 !important;
  }
  .user_icon{
    padding-top: 5px;
  }
  .renter_smallcard{
    padding-top: 2px !important;
    height: 17px;
    width: 94px;
    opacity: 0.87;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 12px !important;
  }
  .rating_div{
    height: 20px;
    width: 58px;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    background-color: #EAEAEA;
    margin-left: 39px;
  }
  .rating_num{
    height: 17px;
    width: 20px;
    opacity: 0.75;
    color: #000000;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    margin: 1px 6px 2px 10px;
  }
  .star{
    margin: 4px 10px 4px 0;
  }
  .row2{
    padding:0 32px 10px 12px;
    margin:0 !important;
  }
  .shop_name_small_card{
    height: 14px;
    width: 170px;
    opacity: 0.75;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    margin-left: 12px !important;
  }
  .row3{
    padding:0 136px 0 36px;
    margin:0 !important;
    /* height: 17px;
    width: 66px; */
    opacity: 0.87;
    color: #790000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
  }
  .price_amount{
    font-weight: bold;
  }
  .no_hover:hover{
    border: 0 ;
    border-radius: 0;
    background-color: transparent;
  }
  .place_holder_section{
    height: 912px;
    width: 600px;
    opacity: 0.02;
    background-color: #FFFFFF;
  }
  .place_holder_text{
    opacity: 0.25;
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 43px;
    padding: 453px 179px 434px 198px;
  }
}
  